*{
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: blueviolet;
}
h1, h2{
   text-align: center;
   padding: 5px 0;
}
main{
    width: 80%;
    margin: 0 auto;
}
.flexbox-section{
    width: 100%;
}
.flexbox-list{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
li{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    list-style: none;
}
.flexbox-item{
   flex: 1 1 22%;
   margin-bottom: 30px;
   margin: 1%;    
}
.flexbox-item:nth-child(1){
    min-width: 48%;
}
img{
    width: 100%;
}
p{
    font-size: 0.9rem;
}
.grid-section{
    margin: 0;
    padding: 0;
}
.grid-list{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 0;
    justify-content: space-evenly;
}
.grid-item{
    min-width: 100%;
    grid-column: span 3;
}
.grid-item:nth-child(1){
    grid-column:span 6;
}
@media screen and (max-width: 1024px) {
    h3, p, img{
        font-size: 0.9rem;
    }
    p{
        font-size: 0.8rem;
    }
    .flexbox-item{
        flex:1 ;
        min-width: 30%;
    }
    .flexbox-item:nth-child(2){
        flex: 2 1 48%;
        max-width: 48%;
    }
    .flexbox-item:nth-child(1){
        flex: 2 1 48%;
        max-width: 48%;
    } 
    .grid-item{
        grid-column: span 4;
    }
    .grid-item:nth-child(2), .grid-item:nth-child(2){
         grid-column: span 6;
    }
}
@media screen and (max-width: 600px) {
    h3, p, img{
        font-size: 0.8rem;
    }
    H1, h2 {
        font-size: 0.9rem;
    }
    img{
        width: 80%;
    }
    .flexbox-list{
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }
    .flexbox-item,.flexbox-item:nth-child(1){
        min-width: 100%;
        flex: 1 1 1;
    }
    
    .grid-list{
        margin: 10 auto;
    }
    .grid-item, .grid-item:nth-child(1), .grid-item:nth-child(2){
        grid-column: span 12;
    }
    

}